<!-- <h1>今人不見古時月，今月曾經照古人</h1> -->
<!-- animate__animated animate__bounce animate__slower animate__infinite -->
<div class="main-area animate__animated animate__fadeIn animate__slower">
  <div class="shi-info">
    <div class="title">{{ shiList[currentIndex]?.title }}</div>
    <span class="author">{{ shiList[currentIndex]?.author }}</span>
  </div>
  <ng-container *ngFor="let sentence of shiList[currentIndex].content">
    <h1>{{ sentence }}</h1>
  </ng-container>
</div>
<div class="setting">
  <fa-icon class="fa-2x" [icon]="faCog" (click)="toggleDropdown()"></fa-icon>
  <div class="dropdown-content" [class.show]="isShowDropdown">
    <a href="#home">關於</a>
    <a href="#about">專案</a>
    <a href="#contact">Contact</a>
  </div>
</div>
<div class="color-name">
  遠山紫
</div>
<!-- <div class="animate-area">
  <div class="top-left">
    <div
      class="
        circle circle-300
        animate__animated animate__headShake animate__slower animate__infinite animate__delay-2s
      "
    ></div>
  </div>
  <div class="top-right">
    <div
      class="
        circle circle-150
        animate__animated animate__wobble animate__slower animate__infinite animate__delay-3s
      "
    ></div>
  </div>
  <div class="bottom-right">
    <div
      class="
        circle circle-250
        animate__animated animate__swing animate__slower animate__infinite animate__delay-4s
      "
    ></div>
  </div>
  <div class="bottom-left">
    <div
      class="
        circle circle-200
        animate__animated animate__heartBeat animate__slower animate__infinite
      "
    ></div>
  </div>
</div> -->
