.container {
  position: relative;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  // background-image: url('./assets/texture.png');
  // transition: background-color 2s ease-in;
  &.blue {
    &:before,
    &:after {
      background-color: #40809d;
    }
  }
  &.purple {
    &:before,
    &:after {
      background-color: #525288;
    }
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    min-width: 300vw;
    min-height: 300vw;

    // background-color:#40809d;
    // #ffa631;
    // #f1939c;

    // #c04851;
    //         background: -webkit-linear-gradient(
    //     0deg,
    //     #ffa745 0%,
    //     #fe869f 30%,
    //     #ef7ac8 45%,
    //     #a083ed 70%,
    //     #43aeff 85%
    //   );
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  &:before {
    bottom: 15vh;
    border-radius: 45%;
    animation-duration: 25s;
  }

  &:after {
    bottom: 12vh;
    opacity: 0.5;
    border-radius: 47%;
    animation-duration: 25s;
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, 0%) rotateZ(360deg);
  }
}

.container {
  width: 100vw;
  height: 100vh;
  //#aba3a3
  //#eee1bd
  background-color: #aba3a3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-area {
  z-index: 10;
  writing-mode: vertical-rl;
}

.shi-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 3rem;
    font-weight: 700;
  }
  .author {
    color: white;
    background-color: rgb(170, 25, 25);
    border-radius: 5px;
    padding: 3px;
    width: 20px;
    letter-spacing: 3px;
    margin-top: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 10px;
    // box-shadow:inset 0px 0px 0px 10px rgb(170, 25, 25);
  }
}
h1 {
  font-weight: 400;
}

.setting {
  position: absolute;
  cursor: pointer;
  top: 50px;
  right: 40px;
  z-index: 99;
}

// .animate-area {
//   display: flex;
//   z-index: 2;
//   position: absolute;
//   width: 100vw;
//   height: 100vh;
//   flex-wrap: wrap;
//   > div {
//     display: flex;
//     flex: 50%;
//     height: 50vh;
//   }
//   .top-left {
//     justify-content: flex-start;
//     align-items: flex-start;
//   }
//   .top-right {
//     justify-content: flex-end;
//     align-items: flex-start;
//   }
//   .bottom-right {
//     justify-content: flex-start;
//     align-items: flex-end;
//   }
//   .bottom-left {
//     justify-content: flex-end;
//     align-items: flex-end;
//   }
// }

// .circle {
//   border-radius: 100%;
//   display: block;
//   background: #40809d;
// }

// .circle-150 {
//   width: 150px;
//   height: 150px;
// }
// .circle-200 {
//   width: 200px;
//   height: 200px;
// }
// .circle-250 {
//   width: 250px;
//   height: 250px;
// }
// .circle-300 {
//   width: 300px;
//   height: 300px;
// }

//dropdown
.dropdown {
  &:hover,
  &:focus {
    background-color: #2980b9;
  }
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  left: -125px;
  top: 50px;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  a {
    &:hover {
      background-color: #ddd;
    }
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
}

.show {
  display: block;
}

.color-name {
  writing-mode: vertical-rl;
  position: fixed;
  font-size: 100px;
  top: 20px;
  left: -50px;
  letter-spacing: 0.5em;
}
