<div class="container" [ngClass]="getClassName()">
  <div class="main-area animate__animated animate__fadeIn animate__slower">
    <div class="shi-info">
      <div class="title">{{ shiList[currentIndex]?.title }}</div>
      <span class="author">{{ shiList[currentIndex]?.author }}</span>
    </div>
    <ng-container *ngFor="let sentence of shiList[currentIndex].content">
      <h1>{{ sentence }}</h1>
    </ng-container>
  </div>
  <div class="setting">
    <fa-icon class="fa-2x" [icon]="faCog" (click)="toggleDropdown()"></fa-icon>
    <div class="dropdown-content" [class.show]="isShowDropdown">
      <a href="#home">關於</a>
      <a href="#about"> <fa-icon [icon]="faGithub"></fa-icon></a>
      <a href="#contact">Contact</a>
    </div>
  </div>
  <div class="color-name">
    {{ currentTheme.name }}
  </div>
</div>
