:host {
  width: 100vw;
  height: 100vh;
  background-color: #aba3a3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-area {
  z-index: 10;
  writing-mode: vertical-rl;
}

.shi-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title{
    font-size: 3rem;
    font-weight: 700;
  }
  .author{
    color: white;
    background-color: rgb(170, 25, 25);
    border-radius: 5px;
    padding: 3px;
    width: 20px;
    letter-spacing: 3px;
    // box-shadow:inset 0px 0px 0px 10px rgb(170, 25, 25);
  }
}
h1 {
  font-weight: 400;
}

.setting{
  position:absolute;
  bottom: 100px;
  right: 70px;
  z-index: 99;
}
.animate-area {
  display: flex;
  z-index: 2;
  position: absolute;
  width: 100vw;
  height: 100vh;
  flex-wrap: wrap;
  > div {
    display: flex;
    flex: 50%;
    height: 50vh;
  }
  .top-left {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .top-right {
    justify-content: flex-end;
    align-items: flex-start;
  }
  .bottom-right {
    justify-content: flex-start;
    align-items: flex-end;
  }
  .bottom-left {
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.circle {
  border-radius: 100%;
  display: block;
  background: #40809d;
}

.circle-150 {
  width: 150px;
  height: 150px;
}
.circle-200 {
  width: 200px;
  height: 200px;
}
.circle-250 {
  width: 250px;
  height: 250px;
}
.circle-300 {
  width: 300px;
  height: 300px;
}
